__pycache__/
*.py[cod]

data/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.bak

aleksi.log
aleksi.sqlite
aleksi/content/websites/html/*
aleksi/content/websites/snapshots/*
aleksi/__pycache__
aleksi/models/__pycache__
enwiktlookup/target/enwiktlookup-1.0-SNAPSHOT-jar-with-dependencies.jar
