.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
video {
    width: 100%    !important;
    height: auto   !important;
}
.feed-container {
    max-width: 50em;
}
a.blacklink {
    text-decoration: none;
    color: #000 !important;
}
.article-title {
    font-family: "Sanomat","Georgia",serif;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: #3388cc;
}
p:empty {
    display: none
}
div.btn-container {
    max-width: 20em;
}
#navbar {
  background-color: #333;
  position: fixed;
  top: -50px;
  width: 100%;
  display:block;
  transition: top 0.3s;
}
.iconlink {
    color: darkslategray !important;
    text-decoration: none;
}
div#config_dialog {
    padding: 0;
}
.notitle .ui-dialog-titlebar {display:none}
.ui-title {
        margin: 0.1em 2% 0.1em !important;
        text-align: left !important;
    }
div.links {
    margin-right: 2px;
    width: max-content;
    direction: rtl;
    margin-left: auto;
}

body {
       font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important; 
          font-weight: 300;
      }
h1 {
    font-size: 48pt;
    margin: 0px 0px 10px 0px;
    text-shadow: none !important;
}
h2 {
    margin: 0px 0px 5px 0px;
}
h3 {
    margin: 0px 0px 3px 0px;
}
.ui-front{z-index:0 !important; } 
.ui-selectmenu-open {z-index:9999 !important;}
.tile {
    padding:.2cm;
    float:left;
    width:14em;
    height:16em;
    border:thin black ridge;
    margin:.1cm;
    font-size:medium;
}
.pane {
    padding:.2cm;
    float:left;
/*    width:30em;*/
/*    border:thin black ridge;*/
    margin:.1cm;
    font-size:medium;
}
.tile img {
    width: 14em;
}
.tile a {
    text-decoration: none;
}
.clearleft {
    display: float;
    clear: left;
}
#create_session_form {
}
button {
    margin-bottom: 10px;
}
